<h1>Dashboard</h1>

<%= link_to 'New challenge', new_challenge_path, class: 'btn btn-primary' %>

<% @challenges.each do |challenge| %>
  <p><%= link_to challenge.skill.title, challenge_path(challenge) %></p>
<% end %>
