// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #F9CF36;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$orange: #F05035;
$turq: #37A3AE;
$light-turq: #5fc3ce;
$dark: #1a393df7;
