.dashboard-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
}

.user-info {
  display: block;
}

.marker {
  position: relative;

  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    background-color: lighten($turq, 30%);
  }
}
