.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  margin: 0;
}

.current-challenges {
  display: none;
}

.user-info {
  display: block;
}

.marker {
  position: relative;

  &:after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    background-color: lighten($turq, 30%);
  }
}

.accept-decline {
  justify-self: left;
}

@media (max-width: 768px) {
  .page-content {
    max-width: 768px;
  }

  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    height: 100%;
    width: 100%;
    margin-top: 16px;

    .notification-card {
      font-size: 18px;
    }

    p {
      font-size: 18px;
    }
  }

  .user-row {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 16px;

    div {
      margin: 0;
    }
  }

  .current-challenges {
    display: block;
    margin-top: 28px;
    margin-bottom: -6px;
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: center;
  }
}

