.login-card {
  display: flex;
  height: 60vh;
  width: 60vw;
  margin: auto;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  box-shadow: 4px 4px 20px rgba(0,0,0,0.1);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  z-index: 100;

  img {
    width: 100%;
  }
}

.login-img {
  width: 50%;
  background-image: url(asset-path('login-img.png'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 102% 50%;
  border-radius: 0 0 0 10px;
}

.login-card-details {
  width: 50%;
  padding: 16px;
  align-self: center;

  .user_first_name {
    margin-right: 3px;
  }

  .user_last_name {
    margin-left: 3px;
  }

  .user_password_confirmation {
    margin-bottom: 1.5rem;
  }

  .text-muted {
    margin-bottom: -12px;
  }

  .form-inputs {
    input {
      text-align: center;
      background-color: rgba(255,255,255,0.85);
    }
    input[type=checkbox] {
      display: block;
    }
  }

  .form-check-label.boolean.optional {
    color: $turq;
  }

  h2 {
    background: linear-gradient(0deg, transparent 60%, $light-turq 40%);
    display: table;
    width: 130px;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-actions {
  margin: 0;
}

.forgot-password {
  margin-right: 2rem;

  a:nth-child(2) {
    opacity: 0.7;
    position: fixed;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .login-card {
    flex-direction: column;
    width: 90vw;
    height: auto;
  }

  .login-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    content: url(asset-path('login-img.png'));
    background-image: none;
    z-index: 200;
    position: relative;
    top: -78px;
  }

  .login-card-details {
    width: 100%;
    height: 60%;
    position: relative;
    top: -78px;
    margin-bottom: -64px;
  }
}

