.new-challenge {
  position: relative;
}
  .invite-friends-div {
    width: 80px;
    position: absolute;
    top: 150px;
    right: 50px;
  }


.proofs {
  display: flex;
  justify-content: space-evenly;
  margin: 24px auto;
  width: 380px;
  a {
  font-size: 20px;
  color: lighten($dark, 20%);
    i {
      font-size: 24px;
      margin-right: 10px;
    }
  }

  a:hover {
    color: $orange;
  }
}

.challenge_validation_type {
  display: none;
}

input[type=checkbox]:checked + label {
  color: $orange;
  font-style: normal;
}

.photo-proof {
  i {
    color: lighten($dark, 20%);
    font-size: 24px;
    margin-right: 10px;
  }
    display: flex;
    justify-content: center;
    align-items: flex-end;
    label {
      margin-left: 12px;
    }

}

// CHECKBOX STYLING

/* Import FontAwesome for the checkmark icon */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* hide the regular checkbox */
.pd-checkbox input {
    // opacity: 0;
    position: absolute;
}
/* position the label */
.pd-checkbox input, .pd-checkbox label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.pd-checkbox label {
    position: relative;
}
/* style the unchecked checkbox */
.pd-checkbox input + label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height:18px;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
    font-size:15px;
    line-height:18px;
}
/* style the checked checkbox */
.pd-checkbox input:checked + label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #56CFD2;
    color: #fff;
    border-color:#3eb9bc;
}

#challenge_photo_proof {
  width: 30px;
  height: 30px
}

.orange {
  color: $orange !important;
}
