.schedule-card {
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  position: relative;
  backdrop-filter: blur(6px);

  h2 {
    background: linear-gradient(0deg, transparent 60%, $light-turq 40%);
    display: table;
    margin-left: auto;
    margin-right: auto;
  }
}

.weekdays {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
  form {
    display: flex;
  }
  input[type=checkbox]:checked + label {
    color: white;
    opacity: 1;
  }
  label {
    color: white;
    display: block;
    width: 65px;
    height: 65px;
    background: $turq;
    border-radius: 50%;
    opacity: .4;
    margin: 0 6px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    & > h4 {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          display: block;
          text-align: center;
        }
    &:hover {
      opacity: 1;
      cursor: pointer;
      color: white;
    }
    &:active {
      background: $turq;
      color: white;
      opacity: 1;
    }
  }
}

.hidden {
  display: none;
}

.schedule-container {
  display: table;
  justify-content: center;
}

.weekdays-container {
  width: 100%;
  display: flex;
  div {
    display: flex;
  }
}

@media (max-width: 768px) {
  .schedule-container {
    display: block;
  }

  .weekdays-container {
    margin: auto;
    display: block;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    div:first-child {
      margin-bottom: 4px;
    }
  }

  .schedule-card {
    .btn {
      font-size: 18px;
    }
    h2 {
      font-size: 28px;
    }
  }
}
