.user-profile-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 16px;
  margin-right: auto;
  margin-left: auto;
  height: 100vh;
  margin: 0;
}

.user-challenges {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  justify-content: space-between;
  padding: 8px;
  margin: auto;

  .current-challenge {
    width: auto;
    margin: 0;
  }
}

.user-friends {
  .user-friend {
    margin-bottom: 0.5rem;
    &:last-child {
      margin-bottom: -8px;
    }
  }
}

.user-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  text-align: center;
  h1 {
    margin: 0;
  }
  .add-friend {
    margin-left: 14px;
  }
  .fa-user-minus {
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: $turq;
    color: white;
    font-size: 18px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    z-index: 1000;
    margin-left: 14px;
    &:hover {
      color: white !important;
      background: $dark-turq;
    }
  }
}

@media (max-width: 768px) {
  .user-profile-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
    height: 100%;
    margin-top: 16px;
    p {
      font-size: 18px;
    }
  }

  .user-challenges {
    grid-template-columns: 1fr;
  }

  .avatar-upload {
    margin: 12px auto 24px auto !important;
  }

  .user-header {
    flex-direction: column;
    margin: 8px 0 0 0;
    .fa-user-minus {
      font-size: 20px;
      background: $light-turq;
      height: 48px;
      width: 48px;
      margin: 0 !important;
    }
  }
  .add-friend {
    font-size: 20px;
    height: 48px;
    width: 48px;
    margin: 0 !important;
  }
}
