<div class="container text-center" style="background-color: ">
<div class="col-8 m-auto">
<div class="mt-5">

<h1>PractiCo</h1>
<p>Social accountability for skill learning</p>

<%= link_to "sign up",new_user_registration_path, class: "btn btn-primary" %>
<%= link_to "log in",new_user_session_path, class: "btn btn-primary" %>

</div>
</div>
</div>
