<div class="message <%= message.from? (current_user) ? "right" : "" %>">
  <img class="avatar-small" src="https://kitt.lewagon.com/placeholder/users/dfwheeler394" alt="avatar">
  <div class="messsage-content"><%= message.content %></div>
</div>
