<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= cl_image_tag @user.photo, alt: "user avatar", class: "avatar-small" %>
  <strong><%= "#{message.user.first_name}"  %> </strong>

  <div class="messsage-content"> <%= "#{message.content}" %></div>
</div>
