.btn-primary {
  background: #f26d52;
  border: none;
  border-radius: 16px;
  padding: 8px 20px;
  transition: .4s;
  &:hover {
    background: #ed462d;
  }
}
.btn-outline-primary {
  border-radius: 16px;
}

.btn-secondary {
  background: linear-gradient(to top, $light-turq, $turq);
  border: 2px solid rgba(255,255,255,0.7);
  border-radius: 16px;
  padding: 8px 20px;
  transition: .4s;
  box-shadow: 0 0 10px rgba(255,255,255,0.2);
  &:hover {
    background: linear-gradient(to top, #f26d52, #ed462d);
    border: 6px solid #f26d52;
  }
}

.btn-turq {
  border: 1.5px solid rgba(255,255,255,0.8);
  color: white;
  background: transparent;
  border-radius: 16px;
  padding: 8px 20px;
  transition: .4s;
  &:hover {
    font-weight: bold;
    background: rgba(255,255,255,0.8);
    color: $dark-turq;
  }
  i {
    font-size: 14px;
    margin-right: 4px;
  }
}

.btn-start {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 1023px) {
  .btn-start {
    margin-top: 0;
    margin-bottom: 32px;
  }
}

#remove-friend-btn {
  height: 40px;
  align-self: center;
}

.btn-outline-secondary {
  border-radius: 16px;
  padding: 8px 20px;
  &:hover {
    opacity: 0.7;
    border: none;
  }
}

.btn-invite-friends {
  color: #f26d52;
  background: transparent;
  border: 0;
  font-size: 32px;
  &:hover {
    color: #ed462d;
  }
  &:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
  }
}

#week_button, #month_button, #year_button   {
  &:hover, &:active, &:focus {
    border-bottom: 3px solid $orange !important;
  }
}


.check-in-div {
  position: absolute;
  bottom: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  p {
    margin: 0;
    margin-right: 12px;
    color: $dark;
  }
}

@media (max-width: 768px) {
  .check-in-div {
    bottom: 6px;
    right: 6px;
    flex-direction: column-reverse;
  }
}

.check-in-btn {
  background-image: url(asset-path('checked-turq.svg'));
  background-size: cover;
  background-repeat: no-repeat;
  height: 46px;
  width: 46px;
  transition: .2s;
  &:hover {
    cursor: pointer;
    background-image: url(asset-path('checked-orange.svg'));
  }
}

.thumbs {
  position: absolute;
  top: 14px;
  right: 16px;
  display: flex;
}

@media (max-width: 768px) {
  .thumbs {
    margin-bottom: 1.2rem;
    position: unset;
  }
}

.thumbs-up {
  color: $orange;
  margin-right: 16px;
  .fa-thumbs-up {
    color: $orange;
  }
  &:hover {
    cursor: pointer;
    color: $orange;
    filter: brightness(1.3);
  }
}

.thumbs-down {
  color: $dark-turq;
  .fa-thumbs-down {
    color: $dark-turq;
  }
  &:hover {
    cursor: pointer;
    color: $dark-turq;
    filter: brightness(1.3);
  }
}

img[alt="schedule"] {
  height: 36px;
  filter: invert(1);
  opacity: 0.85;
  margin-right: 16px;
  padding-right: 6px;
  &:hover {
    opacity: 1;
  }
}

.btn-search {
  color: $turq;
  border: 1px solid #ECECEC;
  border-left: none;
  font-size: 16px;
  border-radius: 0 6px 6px 0;
  background: rgba(255, 255, 255, 0.6);
  height: 35px;
  width: 35px;
}

.fa-user-check {
  padding-right: 6px;
  font-size: 18px;
}

.fa-user-times {
  color: $turq;
  font-size: 18px;
  padding-right: 6px;
}

@media (max-width: 768px) {
  .fa-user-check, .fa-user-times {
    font-size: 20px;
  }

  .btn-search {
    height: 38px;
    width: 38px;
    font-size: 19px;
  }
}
