.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 4px 10px;
  cursor: pointer;
  font-weight: 500;
  background: #296DA1;
  border-radius: 2px;
}

.btn-primary {
  background: #f26d52;
  border: none;
  border-radius: 16px;
  padding: 8px 20px;
  transition: .4s;
  &:hover {
    background: #ed462d;
  }
}
.btn-outline-primary {
  border-radius: 16px;
}

#remove-friend-btn {
  height: 40px;
  align-self: center;
}

.btn-outline-secondary {
  border-radius: 16px;
  padding: 8px 20px;
  &:hover {
    opacity: 0.7;
    border: none;
  }
}

.btn-invite-friends {
  color: #f26d52;
  background: transparent;
  border: 0;
  font-size: 32px;
  &:hover {
    color: #ed462d;
  }
  &:focus {
    box-shadow: none;
    outline: 0;
    border: 0;
  }
}
