.simple-calendar {
  margin-left: auto;
  margin-right: auto;
  width: 90%;

  table {
    background-color: rgba(0, 0, 0, 0);
    max-width: 100%;
    width: 100%;
    border: none;
    border-spacing: 4px;
    border-collapse: separate;
  }

  thead th {
    border: none;
  }

  th {
    padding: 6px;
    text-align: center;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: none;
    border-radius: 6px;
    background: rgba(255,255,255,0.8);
  }

  .day {
    height: 110px;
    position: relative;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: rgba(255,255,255,0.4);
  }
  .next-month {
    background: rgba(255,255,255,0.4);
  }
  .current-month {}

  .has-events {}
}

.calendar-heading {
  font-size: 24px;
  color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.badges {
  display: flex;
  position: absolute;
  bottom: 8px;
}

.event-badge {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 8px 0 0;
}

.arrow {
  font-size: 24px;
  color: rgba(0,0,0,0.4);
  &:hover {
    text-decoration: none;
    color: rgba(0,0,0,0.7);
  }
}

@media(max-width: 992px) {
  .simple-calendar {
    width: 100%;
  }
}
