// --- DASHBOARD ---

.challenge-card {
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  position: relative;
  // backdrop-filter: blur(6px);
  i {
    font-size: 20px;
    color: $turq;
    font-weight: bold;
    margin-right: 6px;
  }
  a {
    font-size: 18px;
  }
}

.no-challenge {
  img {
    height: 200px;
    width: 200px;
  }
}

.user-info {
  background: #fff;
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  i {
    font-size: 20px;
    color: $turq;
    font-weight: bold;
    margin-right: 6px;
  }
}

.achievements {
  background: #fff;
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  img {
    margin: 4px 0;
  }
}

.achievements-row {
  display: flex;
  justify-content: flex-start;
}

.notifications {
  background: #fff;
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
}

// --- NEW CHALLENGE ---


.new-challenge-card {
  background-color: rgba(255, 255, 255, .7);
  // backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 16px;
}


// --- CHALLENGE PAGE ---

.challenge-page-card {
  background: #fff;
  padding: 16px;
  margin: 16px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .85);
  // backdrop-filter: blur(6px);
  overflow: hidden;
  min-height: 200px;
  h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  }
  p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .8;
  margin-bottom: 0;
  margin-top: 8px;
  }
}

.dashboard-avatars {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  img {
    margin: 0 1px;
  }
  img:nth-child(n+8) {
    display: none;
  }
}

@media (max-width: 768px) {
  .dashboard-avatars {
    img:nth-child(n+5) {
      display: none;
    }
  }
}

// USER PROFILE

.current-challenge {
  padding: 16px;
  background: linear-gradient(to top, rgba(55, 163, 174, 0.2), rgba(55, 163, 174, 0.3));
  color: $dark;
  margin: 12px 0;
  // display: inline-block;
  border-radius: 10px;
  width: 300px;
  i {
    color: $turq;
    margin-right: 6px;
  }
  h4 {
    font-size: 16px;
    color: $dark-turq;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    // text-shadow: 1px 1px 6px rgba(55, 163, 174, 0.8);
  }
  &:hover {
    background: rgba(55, 163, 174, 0.5);
  }
}

.recent-check-in {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  img {
    height: 110px;
    width: 110px;
    border: none;
    background: rgba(1,1,1,0.03);
    object-fit: cover;
  }
  h5 {
    font-size: 18px;
    color: $dark-turq;
  }
  p {
    font-size: 16px;
    opacity: 0.8;
  }
  i {
    margin-right: 6px;
    color: $turq;
  }
}

.stakes {
  h2 {
    margin-bottom: 8px;
  }
  img {
    width: 28px;
    filter: saturate(1.2);
    margin-right: 6px;
  }
}

#graph-challenge-card {
  text {
    font-family: $body-font;
    font-size: 13px;
  }
}
