.chat-board {
  border-radius: 10px;
  height: 380px;
}

.messages {
  padding: 16px;
  background-color: rgba(255, 255, 255, 1);
}

.chat-header {
  background-color: #f26d52;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

#create-message {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 10px 10px;

  .text {
    margin-bottom: 16px;
  }
}

.messsage-content {
  margin: 0 8px;
}

.chat-header:hover {
  cursor: hand;
  cursor: pointer;
}
.chat-sticky.up {
position: fixed;
right: 0px;
width: 400px;
bottom: 15px;
padding-top: 10px;
padding-bottom: 10px;
}
.chat-sticky {
position: fixed;
right: 0px;
width: 400px;
bottom: -320px;
padding-top: 10px;
padding-bottom: 10px;
}

@media (max-width: 400px) {
  .chat-sticky, .chat-sticky.up {
    width: 100%;
  }
}
