.custom-switch .custom-control-label::after {
    top: calc(0.25rem + 2px);
    left: calc(-2.25rem + 2px);
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    background-color: $turq;
    opacity: 0.8;
}


.custom-control-label {
  transform: scale(1.1);
  height: 18px;
}
