$color-primary: $orange;

.typo {
  font-size: 38px;
  font-weight: 500;
  text-decoration: none;
  option {
    font-size: 30px;
  }
}

.wrapper.typo.wager {
  font-size: 24px;
}

.transition {
  transition: all .4s ease-in-out;
}

.wrapper {
  margin: 32px 0;
  font-size: 38px;
}

.blur {
  top: 65px;
  z-index: -1;
  filter: blur(8px);
  background: #C4E3E6;
  position: absolute;
}
.list {
  display: inline-block;
  position: relative;
  margin-left: 6px;
  ul {
    z-index: 100;
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
    .active {
      display: block;
    }

  }
  li {
    list-style:none;
    &:first-child a {
      color: desaturate($color-primary, 50%);
    }
  }
  a {
    @extend .typo;
    transition: all .4s;
    color: $color-primary;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 0;
      left: 0;
      background: lighten($color-primary, 20%);
      bottom: 0;
      transition: all .4s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: lighten($color-primary, 20%);
      &:after {
        width: 100%;
      }
    }
  }
}

.list.time_type {
  margin-right: 10px;
  .blur {
    height: 125px;
    width: 155px;
    right: 18px;
  }
}

.list.count_type {
  .blur {
    width: 135px;
    height: 75px;
    right: 34px;
  }
}

.time_type_placeholder, .count_type_placeholder {
  //visibility: hidden;
  //position: fixed;
  border-bottom: 4px solid lighten($dark, 30%);
  cursor: pointer;
  &:hover {
    color: lighten($dark, 30%);
  }
}

.time_type {
  width: 90px;
}

.count_type_list, .time_type_list {
  width: 150px;
}

#challenge_time_type, #challenge_count_type, #challenge_milestone {
  display: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

input:focus,
textarea:focus {
  outline: 0;
  border: 0;
  border-bottom: 4px solid $color-primary;
}

#challenge_skill, #challenge_last_place, #challenge_first_place {
  border: none;
  border-bottom: 4px solid lighten($dark, 30%);
  background: transparent;
  &:hover {
    border-bottom: 0;
  }
}

.skill-input {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  position: relative;
  input {
    font-weight: 500;
    color: $dark;
    font-size: 30px;
    text-align: center;
    &::placeholder {
      font-size: 24px;
      color: rgba(26, 57, 61, .5);
    }
  }
  .underline {
    width: 0;
    height: 4px;
    position: absolute;
    bottom: 0;
    background: $color-primary;
    transition: all 1s ease-out;
  }
  &:hover {
    .underline {
      width: 100%;
    }
  }
}

.milestone_input {
  text-align: center;
  font-weight: 500;
  line-height: 1;
  color: $dark;
  text-decoration: none;
  width: 75px;
  background: transparent;
  border: none;
  border-bottom: 4px solid lighten($dark, 30%);
  &:hover {
    border: 0;
  }
  &::placeholder {
    color: rgba(26, 57, 61, .5);
  }
}

.milestone-input {
  display: inline-block;
  width: 90px;
  position: relative;
  .underline {
    width: 0;
    height: 4px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color-primary;
    transition: all .4s ease-out;
  }
  &:hover {
    .underline {
      width: 100%;
    }
  }
}

// MEDIA QUERIES

// Mobile Portrait
@media (max-width: 768px) {
  .milestone-input {
    text-align: center;
    width: 42px;
    .milestone_input  {
      font-size: 25px;
      width: 56px;
      margin-left: -5px;
    }
  }

  .skill-input {
    font-size: 18px;
    // width: 274px !important;
    width: 90% !important;
    max-width: 95%;
    margin: 0 auto;
    input {
      font-size: 30px;
    }
  }

  .wrapper.typo {
    font-size: 18px;
    width: 287px;
    margin: 0 auto;

    input {
      font-size: 30px;
    }

    a {
      font-size: 30px;
    }
  }

  .list.time_type {
    font-size: 30px;
    margin-right: -5px;
    .blur {
      height: 90px;
      width: 110px;
      right: 56px;
      top: 52px;
    }
  }

  .list.count_type {
    font-size: 30px;
    .blur {
      height: 60px;
      width: 135px;
      right: 32px;
      top: 40px;
    }
  }
}

// Mobile Landscape + Tablet portrait (768px)
@media (min-width: 640px) and (max-width: 1023px) {
  .skill-input {
    width: 90%;
  }
  .wrapper.typo {
    width: 90%;
    font-size: 30px;
  }
}

// Tablet landscape
@media (min-width: 1024px) {

}
