.modal-backdrop {position: relative;}

.modal-dialog {
  max-width: 540px;
}
.modal-content {
  z-index: 100;
  border-radius: 10px;
  border: none;
  background: white;
  .modal-header {
    display: inline;
    font-family: $headers-font;
    border-bottom: 0;
    text-align: center;
    position: relative;
    margin-bottom: 6px;
    color: #f26d52;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .8px;
    margin-top: 8px;
  }
  .modal-body {
    padding: 0;
    margin: auto;
  }
  .modal-footer {
    border-top: 0;
    display: flex;
    justify-content: center;
  }
  span {
    position: absolute;
    top: 0;
    right: 12px;
  }
}

.friend-list {
  .friends-choices {
    width: 500px;
    margin: 6px 0;
  }
  label {
    width: 240px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid $light-turq;
    color: #37a3ae;
    border-radius: 14px;
    padding: 8px 18px;
    transition: .3s;
    &:hover {
      color: $turq;
      cursor: pointer;
      opacity: 1;
      // border: 2px solid $light-turq;
      font-weight: bold;
    }
    img {
      width: 40px;
      height: 40px;
      border: 2px solid white;
      border-radius: 50%;
      margin-right: 6px;
    }
    i {
      margin-left: 8px;
      font-size: 22px;
    }
    p {
      margin: 0;
    }
  }

  input[type=checkbox]:checked + label {
    // color: $turq;
    font-weight: bold;
    opacity: 1;
    // border: 2px solid $light-turq;
    background: $light-turq;
    color: white;

  }
}
