.vertical-nav {
  min-width: 15.5rem;
  width: 15.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0 16px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background: white;
}

.nav-item {
  margin: 16px 28px;
  img {
    width: 30px;
    margin-right: 14px;
    filter: opacity(.9) invert(100%) grayscale(100%) brightness(50%) sepia(100%) hue-rotate(140deg) saturate(300%) contrast(0.6);
  }
  a {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.6);
    &:hover {
      text-decoration: none;
      font-weight: bold;
      img {
        filter: opacity(1) invert(100%) grayscale(100%) brightness(60%) sepia(100%) hue-rotate(140deg) saturate(500%) contrast(0.6);
      }
    }
    p {
      margin: 0;
    }
  }
}

.nav-item-active {
    background-color: $turq;
    color: white;
    padding: 16px 28px;
    img {
      width: 30px;
      margin-right: 14px;
      filter: opacity(.9) invert(100%);
    }
    a {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, .9);
      font-weight: bold;
      &:hover {
        text-decoration: none;
        img {
          filter: opacity(1) invert(100%);
        }
      }
      p {
        margin: 0;
      }
    }
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}


/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
