.notification-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background: rgba(255,255,255,0.8);
  box-shadow: 2px 3px 6px rgba(0,0,0,0.03);
  display: flex;
  align-items: center;
  padding: 8px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-left: 5px solid #F26D52;
}


.notification-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.notification-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.border-bottom-stats {
  border-bottom: 2px solid #F26D52;
}
