.grid {
  position: relative;
}

.friends-search {
  width: 200px;
  input {
    border-radius: 6px;
    background-color: rgba(255,255,255,0.6);
    position: absolute;
    right: 0;
    top: -40px;
    width: 200px;
  }
}
