// *= require simple_calendar

// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "challenges/challenge-page";
@import "challenges/new-challenge-page";
@import "challenges/challenge-show-progress-pie";
@import "components/dropdown";


body {
  background-image: url(asset-path('background1.png'));
  background-size: cover;
  background-repeat: no-repeat;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

li {
  list-style: none;
}

.home-animation {
  width: 210px;
  height: 210px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Comfortaa', sans-serif;
}

h2 {
  font-weight: 500;
}

h2, h3, h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $headers-font;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  opacity: .9;
}

.tw {
  color: white;
  letter-spacing: 1.2px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  background-color: transparent;
}

.center {
  transform: translate(25%, 0);
}

input.form-control:focus {
  outline: none;
  border: 1px solid lightgrey;
  box-shadow: none;
}

.logo-min {
  img {
    width: 56px;
    opacity: 0.8;
  }
  z-index: 500;
  position: absolute;
  top: 18px;
  right: 18px;

  @media (max-width: 768px) {
    img {
      width: 46px;
    }
  }
}

